body {

	font-family: Helvetica;
}

h2 {
	text-align: center;
	color: blue;
}

h3 {
	color: orange;
}

#caption {
	font-size: 10px;
	text-align: center;
}

.logo {
	text-align: center;
	padding: 10px;
	margin: 5px;
}

a:visited {
	color: yellow;
}